.appButton {
  cursor: pointer;
  padding: 8px;
}

.clear {
  border: none;
  background: var(--bg-primary);
}

.filled {
  border: none;
  background: var(--bg-primary);
}

.disabled {
  opacity: .5;
  cursor: auto;
}