:root {
  /* Sizes */
  --header-height: 80px;

  /* Colors */
  --text-primary: #000;
  --text-not-accented: #6c7072;

  --bg-primary: #fff;
  --bg-secondary: #f2f3f5;
  --bg-gradient: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);

  --primary-lightest: #e7e7ff;
  --primary-base: #6b4eff;

  --border-color: #f2f4f5;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--text-primary);
  font-size: 16px;
}