:root {
  --header-height: 130px;
  --text-primary: #000;
  --text-not-accented: #6c7072;

  --bg-primary: #fff;
  --bg-secondary: #f2f4f5
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--text-primary);
}